@import './vars.module.css';

.content {
  flex: 1;
  padding: 1rem;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0.5rem;
  }
  .tableContainer {
    padding: 0;  
  }
}
