@import './vars.module.css';

.reviewStars {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 35px;
    user-select: none;
    background: url("/StarReview_MediaBox.png") right / auto 100% no-repeat;
}

.reviewStars::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--overlay-percent, 100%);
    background: inherit;
    filter: grayscale(1);
}

@media (max-width: 600px) {
    .reviewStars {
        width: 120px;
        height: 28px;
    }
}

@media (max-width: 400px) {
    .reviewStars {
        width: 100px;
        height: 24px;
    }
}