@import './vars.module.css';

.reviewStars {
    display: inline-flex;
    gap: 4px;
    font-size: 40px;
    color: gray;
    user-select: none;
  }
  
  .starFilled {
    color: gold;
  }
  
  .starEmpty {
    color: lightgray;
  }
  
  @media (max-width: 600px) {
    .reviewStars {
      font-size: 25px;
    }
  }
  