.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: var(--input-bg);
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  flex-shrink: 0;
}

.logo img {
  height: 36px;
}

.searchInput {
  flex: 1 1 300px;
  min-width: 150px;
  max-width: 1650px;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background: var(--input-bg);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--text-color);
}

.searchInput::placeholder {
  color: var(--placeholder);
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.addButton,
.editButton,
.icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 1rem;
}

.addButton:hover,
.editButton:hover,
.icon:hover {
  color: var(--accent-color);
}

@media (max-width: 1024px) {
  .searchInput {
    flex: 1 1 250px;
    margin: 0 0.75rem;
  }
  .addButton,
  .editButton,
  .icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .searchInput {
    flex: 1 1 200px;
    margin: 0 0.5rem;
    padding: 0.4rem 0.8rem;
  }
  .addButton,
  .editButton,
  .icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .topbar {
    padding: 0.5rem;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .searchInput {
    order: 1;
    width: 100%;
    margin: 0.5rem 0;
  }
  .actions {
    order: 2;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
  .addButton,
  .editButton,
  .icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}
